@import '../../node_modules/bulma/sass/helpers/color.sass';
@import './core.scss';
@import './colours.scss';

.home-hero {
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

.what-we-do {
  background-color: $grey;
  padding: 90px 0 100px 0;
  h2 {
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
}

.discover {
  .section-title {
    text-align: left;
  }
  svg {
    color:$danger!important;
  }
}

.section-grey {
  background-color: $grey;
}
